.form-container {
    width: 600px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;


}

.form-title {
    font-size: 35px;
    color: #2A4A4F;
    font-weight: 400;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    height: 40px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.form-submit {
    width: 415px;
    height: 40px;
    background-color: rgb(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 21px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgba(255, 153, 0, 0.548);
}

.form-links {
    color: #FF9900;
    text-decoration: none;
}